body{
    background-color: #fcfcfc;
}

.title-info {
    padding: 44px 0px 42px 150px;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  }

.text-style {
    width: 208px;
    height: 28px;
    object-fit: contain;
    font-family: Baskerville;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #3b3b3b;
}
.content{
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
}
  
.news-container {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

.article-data {
    width: 550px;
    height: 90px;
    padding: 0 0 0 26px;
    opacity: 0.8;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }

  .article-data:hover {
      opacity: 0.5;
  }

  .article-information {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

  .article-date-author {
    margin: 5px 0 7px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.25px;
    color: #606060;
    padding: 15px 0 0 0;
    display: flex;
    gap: 8px;
    /* justify-content:space-between; */
  }

  .article-title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.25px;
    height: 100%;
    width: 100%;
    color: #525050;
    padding: 0px;
    gap: 0;
    /* margin: 36px 16px 14px 0; */
  }

  a {
      text-decoration: none;
  }

  .fave {
    width: 68px;
    height: 90px;
    border-radius: 0 6px 6px 0;
    color: #606060;
    background-color: rgb(245, 245, 246);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-fave {
      cursor: pointer;
  }

  .view-news {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 2rem auto;
      list-style-type: none;
      padding: 0;
      font-family:'Roboto', sans-serif;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
  }

  .view-news li {
    width: 98px;
    height: 31px;
    border-radius: 2px;
    border: solid 1px #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .view-news li.active {
   color: #1797ff;
   border: solid 1px #1797ff;
  }

  .pagination-content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }

  .pagination-content {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: #fcfcfc;
    width: 100%;
    padding: 20px 10px;
    margin: 0;
    list-style: none;
}

#select-container {
    width: 240px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 6px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#select-container img{
    width: 12px;
    padding-right: 6px;
}

.filter-items {
    padding-left: 10px; 
  }

.dropdown-menu {
    width: 246px;
    position: absolute;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 #dad8d8;
    z-index: 3;
}

.dropdown-menu ul li:hover{
    background-color: #eaeaea;
    cursor: pointer;
} 

.dropdownitem {
    display: flex;
    margin: 10 px auto;
    
}

.dropdownitem img {
    width: 22px;
    height: 24px;
    max-width: 22px;
    margin-right: 10px;
    opacity: 0.5px;
    transition: var(--speed);
    padding-top: 12px;
}

.dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.select-container.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.select-container.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.dropdownitem p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}