body{
    background-color: #fcfcfc;
    /* background-image: linear-gradient(transparent, transparent 2px, rgb(255, 255, 255) 2px, rgb(255, 255, 255) 20px), linear-gradient(to right, rgb(200, 195, 199), rgb(200, 195, 199) 2px, rgb(255, 255, 255) 2px, rgb(255, 255, 255) 20px);  */
    background-position: 89px -2px; 
    background-size: 20px 20px; 
    /* padding: 60px 120px; */
    /* padding: 0px 100px; */
    display: flex;
}

.title-info {
    width: 100%;
    /* margin: 0 0 70px; */
    padding: 44px 0px 42px 150px;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  }

.text-style {
    width: 208px;
    height: 28px;
    object-fit: contain;
    font-family: Baskerville;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #3b3b3b;
}
  
.news-container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding-bottom: 100px;
  }

  .article-data {
    width: 550px;
    height: 90px;
    padding: 0 0 0 26px;
    opacity: 0.8;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    /* margin: 30px 40px 30px 150px; */
  }

  .article-information {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

  .article-date-author {
    /* width: 440px;
    height: 40px; */
    margin: 6px 16px 14px 0;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.25px;
    color: #606060;
    /* padding: 10px 0 0 0; */
    justify-content:start;
    align-items:center;
    display: flex;
    gap: 8px;
    /* justify-content:space-between; */
  }

  .article-title {
    /* width: 440px;
    height: 40px;
    margin: 6px 16px 14px 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.25px;
    color: #828282; */
    /* margin: 0 0x 24px 0; */
    font-family: Roboto;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.25px;
  /* color: #6b6b6b; */
    height: 100%;
    width: 100%;
    color: #525050;
    /* display: block; */
  }

  a {
      text-decoration: none;
  }

  .fave {
    width: 68px;
    height: 90px;
    /* opacity: 0.06; */
    border-radius: 0 6px 6px 0;
    color: #606060;
    background-color: rgb(245, 245, 246);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .view-news {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 2rem auto;
      list-style-type: none;
      /* gap: 1rem; */
      padding: 0;
  }

  .view-news li {
    width: 98px;
    height: 31px;
    border-radius: 2px;
    border: solid 1px #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .view-news li.active {
   color: #1797ff;
   border: solid 1px #1797ff;
  }

  .pagination-content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }

  .pagination-content {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: #fcfcfc;
    width: 100%;
    padding: 20px 10px;
    margin: 0;
    list-style: none;
}

.filter-root {
    padding: 0px 0px 25px 150px;
}

#select-container {
    width: 240px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 6px;
    cursor: pointer;
}

#select-container img{
    width: 12px;
    padding-right: 6px;
}



/* #select-field {
    width: 100%;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 6px;
} */
/* 
#select-field img{
    width: 12px;
    padding-right: 6px;
} */
/* 
#list {
    width: 87%;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 #dad8d8; 
} */

/* .options {
    width: 100%;
    padding: 1px 10px 0px 10px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
} */

/* .options img {
    width: 20px;
    position: absolute;
    top: 12px;
    left: -30px;
}

.options:hover {
    background-color: rgba(155,155,155,0.7);
} */

.filter-items {
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    /* margin: 2rem auto; */
    /* list-style-type: none; */
    /* gap: 1rem; */
    margin-left: 10px;
    padding-left: 10px;
  }

.dropdown-menu {
    width: 246px;
    /* margin: 0 0 0 1px; */
    position: absolute;
    background-color: #fff;
    /* box-sizing: border-box; */
    border-radius: 6px;

    box-shadow: 0 2px 2px 0 #dad8d8;
    z-index: 3;
}

.dropdown-menu ul li:hover{
    background-color: #eaeaea;
    cursor: pointer;
} 

.dropdownitem {
    display: flex;
    margin: 10 px auto;
    
}

.dropdownitem img {
    width: 22px;
    height: 24px;
    max-width: 22px;
    margin-right: 10px;
    opacity: 0.5px;
    transition: var(--speed);
    padding-top: 12px;
}

.dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}